body {
  background-color: #000000;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 50px 100px;
}

h1 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 60px;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

table {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333333;
}
